@import "light";

* {
  box-sizing: border-box !important;
  user-select: none !important;
}

body {
  margin: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  outline: none;
}

main {
  margin: auto;
  width: 95vw;
  max-width: 60rem;
}

.generic-card {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 0px 4px 4px var(--shadow-color);
}

.light-switcher-up {
  top: 0.75rem !important;
  position: fixed !important;
}
.fade-in-enter-active, .fade-in-leave-active { transition: opacity .5s; }
.fade-in-enter, .fade-in-leave-active { opacity: 0; }

.services {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  span {
    max-width: 9rem;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    font-size: 1rem;;
    background: var(--accent-color);
    padding: 0.5rem;
    padding-bottom: 0.65rem;
    border-radius: 0.5rem;
    color: #FFF;
    box-shadow: 0px 0px 3px 3px var(--shadow-color);
  }
}

.no-data {
  margin: 1rem;
  text-align: justify;
  h1 {
    margin: 1rem;
    color: red;
    text-align: center;
  }
  p {
    text-align: justify;
  }
  a {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 550px) {
  .services span {
    max-width: 15rem;
    font-size: 1.2rem;;
  }
}