@import "light";

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.light-switcher-up {
  top: 0.75rem !important;
  position: fixed !important;
}
.fade-in-enter-active, .fade-in-leave-active { transition: opacity .5s; }
.fade-in-enter, .fade-in-leave-active { opacity: 0; }