:root,
.light {
  --bg-color: #fff;
  --text-color: #333;
  --accent-color: #008f5d;
  --shadow-color: rgba(0, 0, 0, 0.15);
}
.dark {
  --bg-color: #000;
  --text-color: #eee;
  --shadow-color: rgba(255, 255, 255, 0.25);
}
